/* Основные стили для тела страницы */
body {
    font-family: "Shantell Sans", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #4f5258;
}

/* Скрытие элементов */
.hidden {
    visibility: hidden;
}

/* Полное скрытие */
.fullHidden {
    display: none !important;
}

/* Стилизация полосы (#stripe) */
#stripe {
    display: flex;
    height: 50px;
    width: calc(100% - 40px);
    position: relative;
    top: 0;
    margin: 20px;
    box-shadow: 0 0 0 6px #1e1f22;
    border-radius: 2px;
}

.segment {
    height: 100%;
    position: relative;
    cursor: pointer;
}

/* Стиль для всплывающих подсказок (tooltip) */
.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
}

/* Стиль для стрелочки в подсказке */
.arrow {
    position: absolute;
    top: 98%;
    left: -5px;
    width: 10px;
    height: 10px;
    scale: 200%;
    background-color: #5865f2;
    border-radius: 1px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    transform: translateY(-50%);
    z-index: 10 !important;
}

/* Анимация для стрелочки */
@keyframes moveArrow {
    0% {
        left: -5px;
    }
    100% {
        left: calc(100% - 0px);
    }
}

/* Стиль для надписи "Made by" */
.made-by {
    position: fixed;
    bottom: 0px;
    left: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Стиль для надписи "timer" */
.timer {
    position: fixed;
    top: 120px;
    left: 10px;
    font-size: 32px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    width: 95px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: none;
    margin: 20px auto;
    background-size: cover;
    background-position: center;
    scale: 300%;
}

/* Стили для .ghost (призрак) */
.ghost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    font-family: "Shantell Sans", serif;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #323235;
    color: white;
    margin: 5px;
    scale: 150%;
    transition: opacity 0.3s, background-color 0.3s;
}

input:hover {
    background-color: #28282b;
}

.buttons {
    text-align: center;
    padding-top: 10px;
}

.combo,
.photo {
    text-align: center;
    color: white;
    background-color: #43464b;
    border-radius: 3px;
    padding: 5px 15px;
    margin: 0 10px;
}

.text-in-photo {
    text-align: center;
    display: flex;
    margin-bottom: 10px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) scale(2.5);
}

.utilites {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.left-utilites {
    position: fixed;
    bottom: 25px;
    left: 25px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.FAQ-button {
    width: 40px;
    height: 40px;
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s, background-color 0.3s;
    border-radius: 5px;
    transform: translateX(0) scale(1.4);
    margin-left: -6px;
    margin-right: 12px;
    margin-bottom: 40px;
}

/* Стиль для выбора призрака */
.FAQ {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 101 !important;
    animation: fadeIn 0.5s ease-out;
    width: 55%;
    height: 48%;
    overflow: auto;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.settings,
.restart-button {
    width: 40px;
    height: 40px;
    opacity: 0.7;
    transition: opacity 0.3s, background-color 0.3s;
    border-radius: 3px;
    background-color: #414347;
    transform: translateX(0) scale(1.5);
    margin-left: 12px;
    margin-right: 12px;
}

.settings:hover,
.restart-button:hover,
.FAQ-button:hover {
    cursor: pointer;
    opacity: 1;
}

.settings-menu {
    position: fixed;
    bottom: 140px;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100 !important;
    scale: 125%;
}

.custom-url {
    font-family: "Shantell Sans", serif;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: text;
    background-color: #323235;
    color: white;
    margin: 5px;
    scale: 150%;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 35px;
    transition: opacity 0.3s, background-color 0.3s;
}

.setting-item {
    margin-bottom: 10px;
}

.setting-item input {
    cursor: pointer;
}

.start-button {
    font-size: 25px;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 5px 15px;
    display: inline-block;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-37%) scale(2);
}

.setting-choose-ghost {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 101 !important;
    animation: fadeIn 0.5s ease-out;
    width: 80%;
    height: 45%;
    overflow: auto;
}

.setting-ghost {
    max-width: 150%;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.selected-ghost-settings {
    max-height: 200px !important;
}

.ghost-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    z-index: 100 !important;
}

.selected {
    box-shadow: 0 0 30px #b9b9b980 !important;
    background-color: #b9b9b980 !important;
    border-radius: 10px !important;
    transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
}

.setting-ghost:hover {
    box-shadow: 0 0 30px #44444480;
    background-color: #44444480;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.setting-ghost {
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    border-radius: 10px;
}

.setting-choose-ghost input[type="button"] {
    width: 50%;
    padding: 12px 20px;
    background-color: #5865f2;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.setting-choose-ghost input[type="button"]:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

.setting-choose-ghost input[type="button"]:hover {
    background-color: #4f56c3;
}

.setting-item input[type="button"].choose-ghost,
input[type="button"].choose-ghost-blink{
    width: 100%;
    padding: 12px 20px;
    background-color: #5865f2;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
    scale: 105%;
}

.setting-choose-ghost-blink {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 101 !important;
    animation: fadeIn 0.5s ease-out;
    width: 35%;
    height: 45%;
    overflow: auto;
}

.blink-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.applyButton-blink {
    width: 120px;
    padding: 8px 12px;
    transform: scale(1.45);
    cursor: pointer;
}

.blink-type {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
        margin-top: 0px;
}


.ghost-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.selected-ghost {
    max-width: 150px;
    height: auto;
}

.BGClicker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

* {
    z-index: 1 !important;
}

.BGClicker {
    z-index: 0 !important;
}